.image {
  height: 20rem !important;
}

.title-link {
  background: #f1f9f1;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .remove-padding {
    padding: 1rem !important;
  }
  .row{
    display: flex;
    flex-direction: column;
  }

  .mobile{
    width: 100%!important;
  }
}
